@import "./styles/components/header";
@import "./styles/components/footer";
@import "./styles/defaults/color";
@import "./styles/components/main";

    
main{   
       display: flex;
       flex-direction: column;

    .jumbotron {
        margin-top: 0px;
      .homeimg {
        height: 100%;
        width: 100%;
        }
    }
    .home-text {
        text-align: center;
        font-family: $h-main;
        color: $secondary-color;
    }
}

@media screen and (min-width: $medium) {
   main { display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(3, 1fr);

        .jumbotron {
        grid-column: 1/4;
        grid-row: 1/4;
        }
        .home-text {
        grid-row: 2/3;
        grid-column: 3/4;
        font-size: 1.2em;
        text-shadow: 2px 2px 8px $primary-background;
        padding-right: 24px;
        }
    }
}

@media screen and (min-width: $large) {
    main {
        .home-text {
            grid-row: 1/2;
            grid-column: 3/4;
            font-size: 1.4em;
            }
    }
}