@import "./styles/components/header";
@import "./styles/components/footer";
@import "./styles/defaults/color";

body {
    margin:  0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    min-height: 100vh;
    background-color: $secondary-background;

    main{
        // display: flex;
        h2 {
            color: $primary-background;
            display: flex;
            flex-direction: column;

        }
    }
}

.homeimg {
    height: 90%;
    width: 90%;
    border-radius: 20%;
    display: flex;
    justify-content: center;
}