@import "../components/footer";
@import "../components/header";
@import "../components/main";
@import "../defaults/breakpoint";
@import "../defaults/font";

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .steve {
        display: flex;
        justify-content: center;
        border-radius: 5%;
        margin: auto;
        width: 80%;
        animation: fadein 5s;
    }

    @keyframes fadein {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
   
    .bio {
        margin: 24px;
        // color: $text-main;
        font-family: $p-main;
        border: 1px solid $primary-color;
        border-radius: 5%;
        box-shadow: 2px 5px $primary-color;
        padding: 10px;
        animation: fadein 5s;
    }

    .link-cv {
        margin: 24px;
       text-align: center;
       animation: fadein 3s, delay 3s;

       a {
        text-decoration: none;
        font-size: 1.4em;

       }
       a:link {
        color: $primary-color;
       }
        a:visited {
        color: $secondary-color;
        }
       a:hover {
        color: $primary-color;
        font-weight: bold;
       }
    }
}

@media screen and (min-width: $medium) {
    main {
        display: flex;
        flex-direction: column;
        margin: 24px;

        .about {
            display: flex;
            justify-content: space-around;
            
            .steve {
                width: 40%;
            }
        }

       
    }
}

@media screen and (min-width: $large) {

    main{
        .about {
            display: grid;
            grid-template-columns: 5;
            grid-template-rows: 5;
            
            .steve {
                grid-column: 2/5;
                grid-row: 1/4;
                width: 100%
            }

            .bio {
                grid-column: 1/4;
                grid-row: 3/5;
                background-color: $primary-background;
            }
        }
        
    }
    
}