footer {
  background-color: #EBDDD4;
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #461b26;
  text-align: center;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
  margin: 10px 20%;
}
footer .social-media i {
  color: #1B3B46;
}
footer .social-media i:hover {
  color: rgba(235, 221, 212, 0.5843137255);
}

@media screen and (min-width: 769px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer .footer-contact {
    margin-left: 24px;
  }
  footer .social-media {
    display: flex;
    justify-content: space-between;
  }
  footer .social-media a {
    margin: 20px;
  }
}
@media (max-width: 769px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 24px;
  }
}
header {
  background-color: #EBDDD4;
}
header .index {
  text-decoration: none;
}
header .index h1 {
  color: #1B3B46;
  text-align: center;
  font-family: "Libre Baskerville", serif;
}
header nav {
  margin: 10px 20%;
  display: flex;
  justify-content: space-between;
}
header nav a {
  font-family: "Montserrat", sans-serif;
  color: #461b26;
  text-decoration: none;
}
header nav :hover {
  color: #1B3B46;
  font-style: italic;
}

@media screen and (min-width: 769px) {
  header {
    margin-left: 2;
    display: flex;
    justify-content: space-between;
  }
  header h1 {
    margin: 28px;
  }
  header .nav-items {
    align-items: end;
    margin: 24px;
  }
  header .nav-items a {
    display: flex;
    justify-content: space-around;
    padding: 12px;
  }
}
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: rgba(235, 221, 212, 0.5843137255);
}
body main h2 {
  color: #EBDDD4;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .steve {
  display: flex;
  justify-content: center;
  border-radius: 5%;
  margin: auto;
  width: 80%;
  animation: fadein 5s;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .bio {
  margin: 24px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #1B3B46;
  border-radius: 5%;
  box-shadow: 2px 5px #1B3B46;
  padding: 10px;
  animation: fadein 5s;
}
main .link-cv {
  margin: 24px;
  text-align: center;
  animation: fadein 3s, delay 3s;
}
main .link-cv a {
  text-decoration: none;
  font-size: 1.4em;
}
main .link-cv a:link {
  color: #1B3B46;
}
main .link-cv a:visited {
  color: #461b26;
}
main .link-cv a:hover {
  color: #1B3B46;
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  main {
    display: flex;
    flex-direction: column;
    margin: 24px;
  }
  main .about {
    display: flex;
    justify-content: space-around;
  }
  main .about .steve {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  main .about {
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 5;
  }
  main .about .steve {
    grid-column: 2/5;
    grid-row: 1/4;
    width: 100%;
  }
  main .about .bio {
    grid-column: 1/4;
    grid-row: 3/5;
    background-color: #EBDDD4;
  }
}/*# sourceMappingURL=about.css.map */