@import "../components/footer";
@import "../components/header";
@import "../components/main";
@import "../defaults/breakpoint";
@import "../defaults/color";
@import "../defaults/font";


main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
        text-align: center;
        h2 {
            font-family: $h-main;
            color: $primary-color;
        }
    }


    .blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
      
        a {
            text-decoration: none;
        }
        a:hover {
            .blog-content {
                box-shadow: 2px 5px $primary-color;
            }
        }

        .blog-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid $primary-background;
            border-radius: 3%;
            margin: 24px;
            padding: 24px;
            

            .blog-image {
                display: flex;
                justify-content: center;
                width: 100%;
            }

            .blog-text {
                font-size: 1.1em;
                
                p {
                    font-family: $p-main;
                    color: $primary-color;
                    
                }
                h3 {
                    font-family: $h-main;
                    color: $secondary-color;
                }
            }
        }
        
    }
}

@media screen and (min-width: $medium) {
   main {
    .blog{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .blog-content {
            width: 280px;
        }
    }
   }
}

@media screen and (min-width: $large){
    main {
        .blog {
            .blog-content {
                flex-direction: row;
                min-width: 400px;
                .blog-image {
                    width: 50%;
                    height: 50%;
                }
                .blog-text{
                    margin-top: 0px;
                    margin-left: 24px;
                }
            }
        }
    }
}