footer {
  background-color: #EBDDD4;
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #461b26;
  text-align: center;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
  margin: 10px 20%;
}
footer .social-media i {
  color: #1B3B46;
}
footer .social-media i:hover {
  color: rgba(235, 221, 212, 0.5843137255);
}

@media screen and (min-width: 769px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer .footer-contact {
    margin-left: 24px;
  }
  footer .social-media {
    display: flex;
    justify-content: space-between;
  }
  footer .social-media a {
    margin: 20px;
  }
}
@media (max-width: 769px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 24px;
  }
}
header {
  background-color: #EBDDD4;
}
header .index {
  text-decoration: none;
}
header .index h1 {
  color: #1B3B46;
  text-align: center;
  font-family: "Libre Baskerville", serif;
}
header nav {
  margin: 10px 20%;
  display: flex;
  justify-content: space-between;
}
header nav a {
  font-family: "Montserrat", sans-serif;
  color: #461b26;
  text-decoration: none;
}
header nav :hover {
  color: #1B3B46;
  font-style: italic;
}

@media screen and (min-width: 769px) {
  header {
    margin-left: 2;
    display: flex;
    justify-content: space-between;
  }
  header h1 {
    margin: 28px;
  }
  header .nav-items {
    align-items: end;
    margin: 24px;
  }
  header .nav-items a {
    display: flex;
    justify-content: space-around;
    padding: 12px;
  }
}
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: rgba(235, 221, 212, 0.5843137255);
}

main h3 {
  font-family: "Libre Baskerville", serif;
  color: #461b26;
  text-align: center;
}
main form {
  margin: 24px;
  border: 1.5px solid #461b26;
}
main form .form-elements {
  display: flex;
  flex-direction: column;
  padding: 24px;
  justify-content: center;
}
main form .form-elements label {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 12px;
  color: #461b26;
  margin-bottom: 8px;
}
main form .form-elements .form-input {
  width: 100%;
  padding: 12px 0px;
  background-color: rgba(235, 221, 212, 0.5843137255);
  outline: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
main form .form-elements .form-input:focus {
  border: 1px solid #1B3B46;
}
main form .btn-div {
  text-align: center;
}
main form .btn-div #submit {
  border: none;
  background-color: #1B3B46;
  color: #EBDDD4;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
main form .btn-div #submit:hover {
  background-color: #461b26;
}

@media screen and (min-width: 769px) {
  main form .form-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  main form .form-elements label {
    text-align: left;
    font-size: 16px;
    margin-right: 48px;
  }
  main form .form-elements .form-input {
    width: 70%;
    text-align: left;
    padding: 12px 24px;
  }
}
@media screen and (min-width: 1024px) {
  main {
    display: flex;
    justify-content: space-around;
    padding: 5%;
  }
  main .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
  }
  main form {
    width: 80%;
  }
  main form .form-elements label {
    font-size: 18px;
  }
}/*# sourceMappingURL=contact.css.map */