@import "../defaults/color";
@import "../defaults/breakpoint";

footer {
    background-color: $primary-background;

    p{
        font-size: 1rem;
        color: $secondary-color;
        text-align: center;
    }

    .social-media {
        display: flex;
        justify-content: space-around;
        margin: 10px 20%;

        i{
            color: $primary-color;
        }
    }
}

@media screen and (min-width: $medium) {
    footer {
        display: flex;
        justify-content: space-between;

        .footer-contact {
            margin-left: 24px;
        }

        .social-media {
            display: flex;
            justify-content: space-between;
            a {
                margin: 20px;
            }
        }
    }

}