@import "../defaults/color";
@import "../defaults/breakpoint";
@import "../defaults/font";

@media  (max-width: $medium) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 24px;
    }
    
}

header {
    background-color: $primary-background;

    .index{
        
        h1 {
        color: $primary-color;
         text-align: center;
         font-family: $h-main;
        }
        text-decoration: none;
    }

    nav {
        margin: 10px 20%;
        display: flex;
        justify-content: space-between;

        a {
            font-family: $p-main;
            color: $secondary-color;
            text-decoration: none;
       }
       
       :hover {
        color: $primary-color;
        font-style: italic;
       }
    }
}

@media  screen and (min-width: $medium) {
    header {
        margin-left: 2;
        display: flex;
        justify-content: space-between;
        
        h1 {
            margin: 28px;
        }
        .nav-items {
            align-items: end;
            margin: 24px;

            a {
            display: flex;
            justify-content: space-around;
            padding: 12px;
            }
        }
    }
}

@media screen and (min-width:$large) {
    header {
        justify-content: flex-start;
    
        .nav-items {
            width: auto;
            flex-grow: 2;
            margin-left: 64px;
        }
    }
}