@import "../defaults/color";

header {
    background-color: $primary-background;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .index{
        
        h1 {
        color: $primary-color;
         text-align: center;
        }
        text-decoration: none;
    }

    nav {
        margin: 10px 20%;
        a {color: $secondary-color;
       }
       display: flex;
        justify-content: space-between;
       :hover {
        color: $primary-color;
       }
    }
}