// $primary-background: #2E3047;
// $secondary-background: #43455C99;
// $primary-color: #3BBA9C;
// $secondary-color: #707793;

$primary-background: #EBDDD4;
$secondary-background: #EBDDD495;
$primary-color: #1B3B46;
$secondary-color: #461b26;
$text-main: #1B3B46;
